body{
    font-family: 'Roboto', sans-serif;
}

.button1{
    background: rgb(195,227,242);
    background: linear-gradient(180deg, rgba(195,227,242,1) 0%, rgba(63,169,226,1) 100%);

    margin-bottom: 22px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 22px;
  
}
.button2{
    background: rgb(195,227,242);
    background: linear-gradient(180deg, rgba(195,227,242,1) 0%, rgba(63,169,226,1) 100%);

    color: white;
    padding: 15px 32px;
    text-align: center;
    
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}